<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::div})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div >
        Make sure to replace the example code with your 
        actual user model, repository, and other configurations. 
        This is just a basic guide to get you started with password 
        hashing in Spring Boot using Spring Security.
    </div>    
</body>
</html>